# Monnu Paul IBM Data science capstone project

### Introduction/Problem

I got a scholarship New york University to study predictive analysis, so got the nearest flight to New york and lodge at an Hotel, Conrad New york city hotel to be precise. So at lunch time i desire to have a french meal, and the hotel could not deliver such, so i had to look for the nearest restaurant on french meal close to the hotel i lodged in for the day.

So the problem is which french restaurant is available very close to the hotel, and is there a possibility to start a business on french meal restaurant

## 2. Data
### 2.1 Description of Data

This project will rely on public data from Wikipedia and Foursquare.

#### 2.1.1 Dataset 1:

In this project, New York will be the city to focus on in this project. Within the New York Area project, The focus of this project will be the nieghbourhoods that are within the New York area.

The New York Area consists of 5 Boroughs. Our data will be from the link - Greater London Area https://en.wikipedia.org/wiki/List_of_cities_in_New_York_(state)

So, Let's get started:

In [25]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

so i put in my Four square client ID and client secret

In [26]:
CLIENT_ID = '00MBQFSWXTP43MGA4BF2ZM5T2FDZBNBR32TSJGTMTTCUB4X4' # your Foursquare ID
CLIENT_SECRET = 'U0Z00OSQ3HGWGRXWQUP45CXTKCXMLDKBTLNNZZB2GXZJVYF0' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 00MBQFSWXTP43MGA4BF2ZM5T2FDZBNBR32TSJGTMTTCUB4X4
CLIENT_SECRET:U0Z00OSQ3HGWGRXWQUP45CXTKCXMLDKBTLNNZZB2GXZJVYF0

#### Define Foursquare Credentials and Version

###### Since i already have my Foursquare developer account and have your credentials handy

#### Let's again assume that you are staying at my apartment in Nigeria. So let's start by converting the my home's address to its latitude and longitude coordinates.

In order to define an instance of the geocoder, we need to define a user_agent. We will name our agent foursquare_agent, as shown below.

In [27]:
address = '102 North End Ave, New York, NY'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

40.7149555 -74.0153365

# 1. Search for a specific venue category

## 1. Search for a specific venue category
> `https://api.foursquare.com/v2/venues/`**search**`?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&ll=`**LATITUDE**`,`**LONGITUDE**`&v=`**VERSION**`&query=`**QUERY**`&radius=`**RADIUS**`&limit=`**LIMIT**

### Now, it is lunch time, and i am craving French food. So, let's define a query to search for French food that is within 1000 metres from the my apartment.

In [28]:
search_query = 'French'
radius = 1000
print(search_query + ' .... OK!')

French .... OK!

### Defining the corresponding Url

In [29]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=00MBQFSWXTP43MGA4BF2ZM5T2FDZBNBR32TSJGTMTTCUB4X4&client_secret=U0Z00OSQ3HGWGRXWQUP45CXTKCXMLDKBTLNNZZB2GXZJVYF0&ll=40.7149555,-74.0153365&v=20180604&query=French&radius=1000&limit=30'

### Send the GET Request and examine the results

In [30]:
results = requests.get(url).json()
#results

### Get relevant part of JSON and transform it into a pandas dataframe

In [31]:
from pandas.io.json import json_normalize
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,location.address,location.crossStreet
0,4f8df559e4b0321759ad61e6,French Class,"[{'id': '4bf58dd8d48988d1a2941735', 'name': 'Community College', 'pluralName': 'Community Colleges', 'shortName': 'Community College', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/education/communitycollege_', 'suffix': '.png'}, 'primary': True}]",v-1586878592,False,40.718298,-74.012451,"[{'label': 'display', 'lat': 40.7182976122709, 'lng': -74.0124511008905}]",444,10013,US,New York,NY,United States,"[New York, NY 10013, United States]",NaN,NaN
1,4bc6fa9015a7ef3b498478da,French Cleaners,"[{'id': '4bf58dd8d48988d1fc941735', 'name': 'Laundry Service', 'pluralName': 'Laundry Services', 'shortName': 'Laundry', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/laundry_', 'suffix': '.png'}, 'primary': True}]",v-1586878592,False,40.716866,-74.010291,"[{'label': 'display', 'lat': 40.716865999999996, 'lng': -74.01029100000001}, {'label': '?', 'lat': 40.716797, 'lng': -74.010323}]",475,10013,US,New York,NY,United States,"[154 Reade St (Greenwich), New York, NY 10013, United States]",154 Reade St,Greenwich
2,4d1f954ebdd7a09357c5e6ce,Fort French,[],v-1586878592,False,40.719405,-74.011061,"[{'label': 'display', 'lat': 40.719405, 'lng': -74.011061}]",612,NaN,US,NaN,New York,United States,"[New York, United States]",NaN,NaN
3,5149d5b0e4b0f4a69c789f83,French And Casey,"[{'id': '4bf58dd8d48988d124941735', 'name': 'Office', 'pluralName': 'Offices', 'shortName': 'Office', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/default_', 'suffix': '.png'}, 'primary': True}]",v-1586878592,False,40.706416,-74.013759,"[{'label': 'display', 'lat': 40.706416, 'lng': -74.013759}, {'label': '?', 'lat': 40.706035, 'lng': -74.013286}]",959,10006,US,New York,NY,United States,"[29 Broadway, New York, NY 10006, United States]",29 Broadway,NaN
4,4f6778dfe4b015497def1ceb,French kiss Boudoir Photography,"[{'id': '4eb1bdde3b7b55596b4a7490', 'name': 'Photography Lab', 'pluralName': 'Photography Labs', 'shortName': 'Photography Lab', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/photographylab_', 'suffix': '.png'}, 'primary': True}]",v-1586878592,False,40.717808,-74.004822,"[{'label': 'display', 'lat': 40.71780776977539, 'lng': -74.00482177734375}, {'label': '?', 'lat': 40.717923, 'lng': -74.004742}]",942,10013,US,New York,NY,United States,"[85 Franklin St, New York, NY 10013, New York, NY 10013, United States]","85 Franklin St, New York, NY 10013",NaN
5,4e4e4a47bd4101d0d7a6f34b,Le Croissant Shop French Bakery,"[{'id': '4bf58dd8d48988d16a941735', 'name': 'Bakery', 'pluralName': 'Bakeries', 'shortName': 'Bakery', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_', 'suffix': '.png'}, 'primary': True}]",v-1586878592,False,40.717991,-74.009496,"[{'label': 'display', 'lat': 40.71799133506263, 'lng': -74.00949587210722}]",597,10013,US,New York,NY,United States,"[10 Ave. of the Americas, New York, NY 10013, United States]",10 Ave. of the Americas,NaN
6,4f32b24519836c91c7f0c696,M C Choi French Restaurant,"[{'id': '4d4b7105d754a06374d81259', 'name': 'Food', 'pluralName': 'Food', 'shortName': 'Food', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_', 'suffix': '.png'}, 'primary': True}]",v-1586878592,False,40.716547,-74.006684,"[{'label': 'display', 'lat': 40.716547, 'lng': -74.006684}]",751,10013,US,New York,NY,United States,"[200 Church St, New York, NY 10013, United States]",200 Church St,NaN
7,5abc33ccad17896edaca3d61,Frenchette,"[{'id': '4bf58dd8d48988d10c941735', 'name': 'French Restaurant', 'pluralName': 'French Restaurants', 'shortName': 'French', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/french_', 'suffix': '.png'}, 'primary': True}]",v-1586878592,False,40.719596,-74.005786,"[{'label': 'display', 'lat': 40.719596, 'lng': -74.005786}, {'label': '?', 'lat': 40.719652, 'lng': -74.005769}]",957,10013,US,New York,NY,United States,"[241 W Broadway (at N Moore St), New York, NY 10013, United States]",241 W Broadway,at N Moore St
8,51391633e4b055f6c73e75fc,French4NYC,[],v-1586878592,False,40.706669,-74.009956,"[{'label': 'display', 'lat': 40.706669, 'lng': -74.009956}]",1028,10005,US,New York,NY,United States,"[37 Wall St, New York, NY 10005, United States]",37 Wall St,NaN

#### Define information of interest and filter dataframe

In [32]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]
dataframe_filtered['categories'].head()

0    [{'id': '4bf58dd8d48988d1a2941735', 'name': 'Community College', 'pluralName': 'Community Colleges', 'shortName': 'Community College', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/education/communitycollege_', 'suffix': '.png'}, 'primary': True}]
1    [{'id': '4bf58dd8d48988d1fc941735', 'name': 'Laundry Service', 'pluralName': 'Laundry Services', 'shortName': 'Laundry', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/laundry_', 'suffix': '.png'}, 'primary': True}]
2    []
3    [{'id': '4bf58dd8d48988d124941735', 'name': 'Office', 'pluralName': 'Offices', 'shortName': 'Office', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/default_', 'suffix': '.png'}, 'primary': True}]
4    [{'id': '4eb1bdde3b7b55596b4a7490', 'name': 'Photography Lab', 'pluralName': 'Photography Labs', 'shortName': 'Photography Lab', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/photographylab_', 'suffix': '.png'}, 'primary': True}]
Name: categories, dtype: object

In [33]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [34]:
# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

In [36]:
# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,lat,lng,labeledLatLngs,distance,postalCode,cc,city,state,country,formattedAddress,address,crossStreet,id
0,French Class,Community College,40.718298,-74.012451,"[{'label': 'display', 'lat': 40.7182976122709, 'lng': -74.0124511008905}]",444,10013,US,New York,NY,United States,"[New York, NY 10013, United States]",NaN,NaN,4f8df559e4b0321759ad61e6
1,French Cleaners,Laundry Service,40.716866,-74.010291,"[{'label': 'display', 'lat': 40.716865999999996, 'lng': -74.01029100000001}, {'label': '?', 'lat': 40.716797, 'lng': -74.010323}]",475,10013,US,New York,NY,United States,"[154 Reade St (Greenwich), New York, NY 10013, United States]",154 Reade St,Greenwich,4bc6fa9015a7ef3b498478da
2,Fort French,None,40.719405,-74.011061,"[{'label': 'display', 'lat': 40.719405, 'lng': -74.011061}]",612,NaN,US,NaN,New York,United States,"[New York, United States]",NaN,NaN,4d1f954ebdd7a09357c5e6ce
3,French And Casey,Office,40.706416,-74.013759,"[{'label': 'display', 'lat': 40.706416, 'lng': -74.013759}, {'label': '?', 'lat': 40.706035, 'lng': -74.013286}]",959,10006,US,New York,NY,United States,"[29 Broadway, New York, NY 10006, United States]",29 Broadway,NaN,5149d5b0e4b0f4a69c789f83
4,French kiss Boudoir Photography,Photography Lab,40.717808,-74.004822,"[{'label': 'display', 'lat': 40.71780776977539, 'lng': -74.00482177734375}, {'label': '?', 'lat': 40.717923, 'lng': -74.004742}]",942,10013,US,New York,NY,United States,"[85 Franklin St, New York, NY 10013, New York, NY 10013, United States]","85 Franklin St, New York, NY 10013",NaN,4f6778dfe4b015497def1ceb
5,Le Croissant Shop French Bakery,Bakery,40.717991,-74.009496,"[{'label': 'display', 'lat': 40.71799133506263, 'lng': -74.00949587210722}]",597,10013,US,New York,NY,United States,"[10 Ave. of the Americas, New York, NY 10013, United States]",10 Ave. of the Americas,NaN,4e4e4a47bd4101d0d7a6f34b
6,M C Choi French Restaurant,Food,40.716547,-74.006684,"[{'label': 'display', 'lat': 40.716547, 'lng': -74.006684}]",751,10013,US,New York,NY,United States,"[200 Church St, New York, NY 10013, United States]",200 Church St,NaN,4f32b24519836c91c7f0c696
7,Frenchette,French Restaurant,40.719596,-74.005786,"[{'label': 'display', 'lat': 40.719596, 'lng': -74.005786}, {'label': '?', 'lat': 40.719652, 'lng': -74.005769}]",957,10013,US,New York,NY,United States,"[241 W Broadway (at N Moore St), New York, NY 10013, United States]",241 W Broadway,at N Moore St,5abc33ccad17896edaca3d61
8,French4NYC,None,40.706669,-74.009956,"[{'label': 'display', 'lat': 40.706669, 'lng': -74.009956}]",1028,10005,US,New York,NY,United States,"[37 Wall St, New York, NY 10005, United States]",37 Wall St,NaN,51391633e4b055f6c73e75fc

#### Let's visualize the French restaurants that are nearby

In [37]:
dataframe_filtered.name.head()

0    French Class
1    French Cleaners
2    Fort French
3    French And Casey
4    French kiss Boudoir Photography
Name: name, dtype: object

In [38]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Conrad Hotel
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='Conrad Hotel',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# add the French restaurants as blue circle markers
for lat, lng, label in zip(dataframe_filtered.lat, dataframe_filtered.lng, dataframe_filtered.categories):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

# display map
venues_map

## 2. Explore a Given Venue
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**

In [39]:
venue_id = '4f32b24519836c91c7f0c696' # ID of M C Choi french restaurant
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/4f32b24519836c91c7f0c696?client_id=00MBQFSWXTP43MGA4BF2ZM5T2FDZBNBR32TSJGTMTTCUB4X4&client_secret=U0Z00OSQ3HGWGRXWQUP45CXTKCXMLDKBTLNNZZB2GXZJVYF0&v=20180604'

In [40]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
#result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'likes', 'dislike', 'ok', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'seasonalHours', 'pageUpdates', 'inbox', 'attributes'])

In [41]:
try:
    print(result['response']['venue']['rating'])
except:
    print('This venue has not been rated yet.')

This venue has not been rated yet.

Since the closest restaurant has not been rated yet, which shows no sig of good relationship, so let's try Frenchette

## A. Let's explore the closest Italian restaurant -- Frenchette

In [42]:
venue_id = '5abc33ccad17896edaca3d61' # ID of Frenchette
url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
url

'https://api.foursquare.com/v2/venues/5abc33ccad17896edaca3d61?client_id=00MBQFSWXTP43MGA4BF2ZM5T2FDZBNBR32TSJGTMTTCUB4X4&client_secret=U0Z00OSQ3HGWGRXWQUP45CXTKCXMLDKBTLNNZZB2GXZJVYF0&v=20180604'

## Send GET request for result

In [43]:
result = requests.get(url).json()
print(result['response']['venue'].keys())
#result['response']['venue']

dict_keys(['id', 'name', 'contact', 'location', 'canonicalUrl', 'categories', 'verified', 'stats', 'url', 'price', 'likes', 'dislike', 'ok', 'rating', 'ratingColor', 'ratingSignals', 'menu', 'allowMenuUrlEdit', 'beenHere', 'specials', 'photos', 'reasons', 'hereNow', 'createdAt', 'tips', 'shortUrl', 'timeZone', 'listed', 'hours', 'popular', 'seasonalHours', 'defaultHours', 'pageUpdates', 'inbox', 'attributes', 'bestPhoto', 'colors'])

### B. Get the venue's overall rating

In [44]:
try:
    print(result['response']['venue']['rating'])
except:
    print('This venue has not been rated yet.')

8.7

### C. Get the number of tips

In [45]:
result['response']['venue']['tips']['count']

34

### D. Get the venue's tips
> `https://api.foursquare.com/v2/venues/`**VENUE_ID**`/tips?client_id=`**CLIENT_ID**`&client_secret=`**CLIENT_SECRET**`&v=`**VERSION**`&limit=`**LIMIT**

#### Create URL and send GET request. Make sure to set limit to get all tips

In [46]:
## Ecco Tips
limit = 15 # set limit to be greater than or equal to the total number of tips
url = 'https://api.foursquare.com/v2/venues/{}/tips?client_id={}&client_secret={}&v={}&limit={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION, limit)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5e95da27618f43001bebbdc8'},
 'response': {'tips': {'count': 35,
   'items': [{'id': '5acb719b82a75063efdd4836',
     'createdAt': 1523282331,
     'text': 'Wooowie, what a good restaurant this is! If on the menu, chicories are a must. Mortadella, definitely. Turbot for two, delicious. No matter what youre getting frites. Also, the millefeuille. ',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/5acb719b82a75063efdd4836',
     'lang': 'en',
     'likes': {'count': 1,
      'groups': [{'type': 'others',
        'count': 1,
        'items': [{'id': '6229518',
          'firstName': 'Ricky',
          'lastName': 'S',
          'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
           'suffix': '/PG3XUEJ2V4BUFNLA.jpg'}}]}],
      'summary': '1 like'},
     'logView': True,
     'editedAt': 1536251109,
     'agreeCount': 17,
     'disagreeCount': 0,
     'lastVoteText': 'Upvoted 4 weeks ago',
     'lastUpvoteTimestamp': 1584220223,
     'todo': {'count': 1},
     'user': {'id': '31472',
      'firstName': 'Emily',
      'lastName': 'W',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/31472-J3VPBIQ1WXYG1UB0.jpg'}},
     'authorInteractionType': 'liked'}]}}}

#### Get tips and list of associated features

In [47]:
tips = results['response']['tips']['items']

tip = results['response']['tips']['items'][0]
tip.keys()

dict_keys(['id', 'createdAt', 'text', 'type', 'canonicalUrl', 'lang', 'likes', 'logView', 'editedAt', 'agreeCount', 'disagreeCount', 'lastVoteText', 'lastUpvoteTimestamp', 'todo', 'user', 'authorInteractionType'])

In [48]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips

# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
#tips_filtered = tips_df.loc[:, filtered_columns]

# display tips
#tips_filtered

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [49]:
pd.set_option('display.max_colwidth', -1)

tips_df = json_normalize(tips) # json normalize tips
tips_df.reindex(columns = filtered_columns)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"Wooowie, what a good restaurant this is! If on the menu, chicories are a must. Mortadella, definitely. Turbot for two, delicious. No matter what youre getting frites. Also, the millefeuille.",17,0,5acb719b82a75063efdd4836,Emily,W,NaN,31472

In [50]:
# columns to keep
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']

#tips_filtered = tips_df.loc[:, filtered_columns]
tips_filtered = tips_df.reindex(columns= filtered_columns)

# display tips
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,"Wooowie, what a good restaurant this is! If on the menu, chicories are a must. Mortadella, definitely. Turbot for two, delicious. No matter what youre getting frites. Also, the millefeuille.",17,0,5acb719b82a75063efdd4836,Emily,W,NaN,31472

### Hence Frenchette serve as a good restaurant close to the hotel i lodged in, and there's a problem of distance from the hotel, which serve as a research for a business man to start a French restaurant which will be close to the hotel location, since the hotel has no french meal on the table.